In [1]:
import pandas as pd

# Load Data

In [2]:
df_train = pd.read_csv('data/train.csv')
df_songs = pd.read_csv('data/songs.csv')
df_song_extra_info = pd.read_csv('data/song_extra_info.csv')
df_members = pd.read_csv('data/members.csv')
df_artists = pd.read_csv('data/artists.csv')

# Train Data Type and Null Percentage Info

In [7]:
df_train

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1
...,...,...,...,...,...,...
7377413,6xdFzPlrasIDD95mQWXVC3Bg4ptnGYtBl4ztVEZMddU=,VJTxizih/o28kXCbtPbIyWXScoXGvxyYtl6R+0YB5JM=,my library,Local playlist more,local-playlist,1
7377414,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,z1mqaU9YOX7T/PFDvUoWozdFq7rC3KwaQP7nFVprjMI=,search,Search,song,0
7377415,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,750RprmFfLV0bymtDH88g24pLZGVi5VpBAI300P6UOA=,search,Search,song,1
7377416,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,G8wgqObgeAMER/rVCIlgcNeQ8mm0CzF/GsxiMK8TTnA=,discover,Discover Genre,online-playlist,1
7377417,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,Ju0VGkjWeBUZCd7r5Az2hUImhMoWxWLUicOedsmvG0g=,discover,Discover Genre,online-playlist,1

In [6]:
df_train.describe(include='all')

,msno,song_id,source_system_tab,source_screen_name,source_type,target
count,7377418,7377418,7352569,6962614,7355879,7.377418e+06
unique,30755,359966,8,20,12,NaN
top,MXIMDXO0j3UpaT7FvOSGW6Y5zfhlh+xYjTqGoUdMzEE=,reXuGcEWDDCnL0K3Th//3DFG4S1ACSpJMzA+CFipo1g=,my library,Local playlist more,local-library,NaN
freq,5819,13973,3684730,3228202,2261399,NaN
mean,NaN,NaN,NaN,NaN,NaN,5.035171e-01
std,NaN,NaN,NaN,NaN,NaN,4.999877e-01
min,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,1.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,1.000000e+00
max,NaN,NaN,NaN,NaN,NaN,1.000000e+00

In [12]:
source_system_tabs = df_train['source_system_tab'].unique()
print("Number of unique source system tabs:", len(source_system_tabs))
print(source_system_tabs)

Number of unique source system tabs: 9
['explore' 'my library' 'search' 'discover' nan 'radio' 'listen with'
 'notification' 'settings']

In [11]:
source_screen_names = df_train['source_screen_name'].unique()
print("Number of unique source screen names:", len(source_screen_names))
print(source_screen_names)

Number of unique source screen names: 21
['Explore' 'Local playlist more' nan 'My library' 'Online playlist more'
 'Album more' 'Discover Feature' 'Unknown' 'Discover Chart' 'Radio'
 'Artist more' 'Search' 'Others profile more' 'Search Trends'
 'Discover Genre' 'My library_Search' 'Search Home' 'Discover New'
 'Self profile more' 'Concert' 'Payment']

In [13]:
source_types = df_train['source_type'].unique()
print("Number of unique source types:", len(source_types))
print(source_types)

Number of unique source types: 13
['online-playlist' 'local-playlist' 'local-library' 'top-hits-for-artist'
 'album' nan 'song-based-playlist' 'radio' 'song' 'listen-with' 'artist'
 'topic-article-playlist' 'my-daily-playlist']

In [16]:
targets = df_train['target'].unique()
print("Number of unique targets:", len(targets))
print(targets)

Number of unique targets: 2
[1 0]

In [24]:
# missing values
df_train.isnull().sum() / len(df_train)

msno                  0.000000
song_id               0.000000
source_system_tab     0.003368
source_screen_name    0.056226
source_type           0.002920
target                0.000000
dtype: float64

# Members Data Type and Null Percentage Info

In [19]:
df_members

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613
...,...,...,...,...,...,...,...
34398,Wwd/cudKVuLJ3txRVxlg2Zaeliu+LRUfiBmfrnxhRCY=,1,0,NaN,7,20131111,20170910
34399,g3JGnJX6Hg50lFbrNWfsHwCUmApIkiv2M8sXOaeXoIQ=,4,18,male,3,20141024,20170518
34400,IMaPMJuyN+ip9Vqi+z2XuXbFAP2kbHr+EvvCNkFfj+o=,1,0,NaN,7,20130802,20170908
34401,WAnCAJjUty9Stv8yKtV7ZC7PN+ilOy5FX3aIJgGPANM=,1,0,NaN,7,20151020,20170920
34402,xH8KpzKGeNNq6dOvy51c/8VzqOiGG+m6vabhsPSDHX4=,1,0,NaN,4,20160815,20160818

In [20]:
df_members.describe(include='all')

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
count,34403,34403.000000,34403.000000,14501,34403.000000,3.440300e+04,3.440300e+04
unique,34403,NaN,NaN,2,NaN,NaN,NaN
top,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,NaN,NaN,male,NaN,NaN,NaN
freq,1,NaN,NaN,7405,NaN,NaN,NaN
mean,NaN,5.371276,12.280935,NaN,5.953376,2.013994e+07,2.016901e+07
std,NaN,6.243929,18.170251,NaN,2.287534,2.954015e+04,7.320925e+03
min,NaN,1.000000,-43.000000,NaN,3.000000,2.004033e+07,1.970010e+07
25%,NaN,1.000000,0.000000,NaN,4.000000,2.012103e+07,2.017020e+07
50%,NaN,1.000000,0.000000,NaN,7.000000,2.015090e+07,2.017091e+07
75%,NaN,10.000000,25.000000,NaN,9.000000,2.016110e+07,2.017093e+07
max,NaN,22.000000,1051.000000,NaN,16.000000,2.017023e+07,2.020102e+07

In [21]:
member_cities = df_members['city'].unique()
print("Number of unique member cities:", len(member_cities))
print(member_cities)

Number of unique member cities: 21
[ 1 13 12 15  5  6  4 11 18 22 14  8 20  3 17 10 16  9 21  7 19]

In [22]:
member_genders = df_members['gender'].unique()
print("Number of unique member genders:", len(member_genders))
print(member_genders)

Number of unique member genders: 3
[nan 'female' 'male']

In [23]:
member_registered_via = df_members['registered_via'].unique()
print("Number of unique registered via:", len(member_registered_via))
print(member_registered_via)

Number of unique registered via: 6
[ 7  4  9  3 13 16]

In [25]:
df_members.isnull().sum() / len(df_members)

msno                      0.000000
city                      0.000000
bd                        0.000000
gender                    0.578496
registered_via            0.000000
registration_init_time    0.000000
expiration_date           0.000000
dtype: float64

# Songs Data Type and Null Percentage

In [28]:
df_songs

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0
...,...,...,...,...,...,...,...
2296315,lg6rn7eV/ZNg0+P+x77kHUL7GDMfoL4eMtXxncseLNA=,20192,958,Catherine Collard,Robert Schumann (1810-1856),NaN,-1.0
2296316,nXi1lrSJe+gLoTTNky7If0mNPrIyCQCLwagwR6XopGU=,273391,465,紀文惠 (Justine Chi),NaN,NaN,3.0
2296317,9KxSvIjbJyJzfEVWnkMbgR6dyn6d54ot0N5FKyKqii8=,445172,1609,Various Artists,NaN,NaN,52.0
2296318,UO8Y2MR2sjOn2q/Tp8/lzZTGKmLEvwZ20oWanG4XnYc=,172669,465,Peter Paul & Mary,NaN,NaN,52.0
2296319,V/9qPSUOGT0FeIGBhDIZRRz5Y5yyjdXC2Z/+bJExo5s=,270466,829,Kim Robertson,NaN,NaN,52.0

In [27]:
df_songs.describe(include='all')

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
count,2296320,2.296320e+06,2202204,2296320,1224962,351014,2.296319e+06
unique,2296320,NaN,1045,222363,329822,110924,NaN
top,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,NaN,465,Various Artists,Neuromancer,Traditional,NaN
freq,1,NaN,567911,145916,17888,1751,NaN
mean,NaN,2.469935e+05,NaN,NaN,NaN,NaN,3.237800e+01
std,NaN,1.609200e+05,NaN,NaN,NaN,NaN,2.433241e+01
min,NaN,1.850000e+02,NaN,NaN,NaN,NaN,-1.000000e+00
25%,NaN,1.836000e+05,NaN,NaN,NaN,NaN,-1.000000e+00
50%,NaN,2.266270e+05,NaN,NaN,NaN,NaN,5.200000e+01
75%,NaN,2.772690e+05,NaN,NaN,NaN,NaN,5.200000e+01
max,NaN,1.217385e+07,NaN,NaN,NaN,NaN,5.900000e+01

In [29]:
song_languages = df_songs['language'].unique()
print("Number of unique song languages:", len(song_languages))
print(song_languages)

Number of unique song languages: 11
[ 3. 31. 52. 17. 10. -1. 24. 59. 45. 38. nan]

In [33]:
print((df_songs.isnull().sum() / len(df_songs)).apply(lambda x: f"{x:.6f}"))

song_id        0.000000
song_length    0.000000
genre_ids      0.040986
artist_name    0.000000
composer       0.466554
lyricist       0.847141
language       0.000000
dtype: object

# Song Extra Info Data Types and Null Percentage

In [34]:
df_song_extra_info

,song_id,name,isrc
0,LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=,我們,TWUM71200043
1,ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=,Let Me Love You,QMZSY1600015
2,u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=,原諒我,TWA530887303
3,92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=,Classic,USSM11301446
4,0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=,愛投羅網,TWA471306001
...,...,...,...
2295966,hLnetpF6UbPg28sSfXnPE2vsdaGsLvddlXEdJR4VTIA=,Deep Breathing,PLL431720793
2295967,N+6vJ8actKQm0S3Fpf4elipTjoAo9ev28aA5FJN5e40=,In Hiding,US5UL1519827
2295968,pv35uG0ts05mWtirM/AMOWEzbHxIVart5ZzRXqKUY1c=,Il Est Ne Le Divin Enfant,PLL431502294
2295969,QSySnm8jt2Go7byY34/PxsZP6dPCins2j2cyYquNhBo=,The Exodus Song,DEPZ69316095
2295970,DYKJKSgDOKxb19XzOVO81176qTH0OIHCsfzFRm/BG+g=,Like This,US5UL1512426

In [35]:
df_song_extra_info.describe(include='all')

                                             song_id     name          isrc
count                                        2295971  2295968       2159423
unique                                       2295971  1168978       1806825
top     LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=    Intro  GBPS81518952
freq                                               1     1734           207

In [36]:
df_song_extra_info.isnull().sum() / len(df_song_extra_info)

song_id    0.000000
name       0.000001
isrc       0.059473
dtype: float64

# Artists Data Type and Null Percentage

In [37]:
df_artists

                           artist_name gender country
0                     張信哲 (Jeff Chang)   Male      TW
1                            BLACKPINK    NaN      KR
2                         SUPER JUNIOR    NaN      KR
3                                S.H.E    NaN      TW
4                                 貴族精選   Male      JP
...                                ...    ...     ...
40577   Clive Williams| Malcolm Hughes   Male      US
40578                         Gintonic    NaN     NaN
40579              Soundtrip Argentina    NaN     NaN
40580                           反賄選廣播劇   Male      JP
40581  Sammy Porter feat. Grace Fleary    NaN     NaN

[40582 rows x 3 columns]

In [38]:
df_artists.describe(include='all')

             artist_name gender country
count              40582  20863   32758
unique             40582      5     141
top     張信哲 (Jeff Chang)   Male      US
freq                   1  14094   10611

In [40]:
artist_gender = df_artists['gender'].unique()
print("Number of unique artist genders:", len(artist_gender))
print(artist_gender)

Number of unique artist genders: 6
['Male' nan 'Female' 'Not applicable' 'Non-binary' 'Other']

In [39]:
df_artists.isnull().sum() / len(df_artists)

artist_name    0.000000
gender         0.485905
country        0.192795
dtype: float64